// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
// Define fonts for body and headers
$body-font: "Raleway", "Regular", "sans-serif";
$headers-font: "Raleway", "Bold", "sans-serif";

h1, h2, h3, h4, p, a {
  color: #14213D;
  // font-weight: bold;
}

a:hover {
  color: #14213D;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
