<div class="container">
  <%= render "form", listing: @listing %>
  <br>

  <%= link_to listings_path do %>
    <div class="secondary-button">
      <i class="fa-solid fa-backward"></i>
    </div>
  <% end %>
</div>
