<h1>Bookings#create</h1>
<p>Find me in app/views/bookings/create.html.erb</p>

<%= link_to listings_path do %>
<div class="secondary-button">
  <i class="fa-solid fa-trash"></i>
</div>
<% end %>

<%= link_to listings_path do %>
  <div class="secondary-button">
    <i class="fa-solid fa-backward"></i>
  </div>
<% end %>
