<div class="container">
  <%= render "bookings/form", listing: @listing, booking: @booking %>

  <%= link_to listings_path do %>
  <div class="secondary-button">
    <i class="fa-solid fa-trash"></i>
  </div>
  <% end %>

  <%= link_to listings_path do %>
    <div class="secondary-button">
      <i class="fa-solid fa-backward"></i>
    </div>
  <% end %>
</div>
<%= render "shared/footer" %>
