<div class="home-banner">
  <h1>Welcome to LifeTrial</h1>
  <p>The enigmatic life-swapping service</p>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="https://www.mashed.com/img/gallery/the-first-astronaut-to-bring-chocolate-into-space/l-intro-1666923799.jpg" class="image-carousel">
    </div>
    <div class="carousel-item">
      <img src="https://e0.365dm.com/22/07/2048x1152/skysports-cristiano-ronaldo_5823297.jpg"class="image-carousel">
    </div>
    <div class="carousel-item">
      <img src="https://www.history.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTY1ODkxNzE2MjEyMDczNTM5/tdih-marilyn-monroe-gettyimages-53376357.jpg"class="image-carousel">
    </div>
    <div class="carousel-item">
      <img src="https://www.slashfilm.com/img/gallery/brad-pitt-isnt-exactly-proud-of-his-performance-in-troy/l-intro-1654727045.jpg"class="image-carousel">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
