.button-design {
  background-color: #FCA311;
  display: inline-block;
  border: 1px solid transparent;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  font-size: 14px;
  font-weight: 500;
  border-radius: 24px;
  letter-spacing: 2px;

}

.button-design:hover {
  a {
    color: #14213D;
  }
}

.secondary-button {
  background-color: #E5E5E5;
  display: inline-block;
  border: 1px solid transparent;
  color: white;
  padding: 8px 24px;
  cursor: pointer;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  font-size: 14px;
  font-weight: 500;
  border-radius: 24px;
  letter-spacing: 2px;
}

.secondary-button:hover {
  i {
    color: #14213D;
  }
}

.back-button {
  background-color: #E5E5E5;
  display: inline-block;
  border: 10px solid transparent;
  border-radius: 24%;
}
