.listings_display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
}

.listings-show-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media(max-width: 992px) {
  .listings_display {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .listings_display {
    grid-template-columns: 1fr;
  }
}

.placeholder {
  color: black
}

