.home-banner {
  width: 100%;
  background-image: url(experience.jpg);
  height: 405px;
  background-color: lightblue;
  background-position: center;
  align-items: center;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
}

h1, p, {
  text-align: center;
}

.button {
  position: absolute;
  top: 50%;
}
